<div class="widget-box">
    <div class="widget-header">
        <h5 class="widget-title">Default Widget Box</h5>

        <!-- #section:custom/widget-box.toolbar -->
        <div class="widget-toolbar">
            <div class="widget-menu">
                <a href="#" data-action="settings" data-toggle="dropdown">
                    <i class="ace-icon fa fa-bars"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                    <li>
                        <a data-toggle="tab" href="#dropdown1">Option#1</a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#dropdown2">Option#2</a>
                    </li>
                </ul>
            </div>

            <a href="#" data-action="fullscreen" class="orange2">
                <i class="ace-icon fa fa-expand"></i>
            </a>

            <a href="#" data-action="reload">
                <i class="ace-icon fa fa-refresh"></i>
            </a>

            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>

            <a href="#" data-action="close">
                <i class="ace-icon fa fa-times"></i>
            </a>
        </div>

        <!-- /section:custom/widget-box.toolbar -->
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <form action="{% url 'add_media_view' %}" class="dropzone">
                {%  csrf_token %}
              <div class="fallback">
                  {{ form.media }}
              </div>
            </form>
        </div>
    </div>
</div>