<div class="col-xs-12 col-sm-8 col-sm-offset-2">

    <!-- the wysiwyg form -->
    <form method="POST" id="myform" action="wysiwyg.php">
        <div id="editor" class="wysiwyg-editor"></div>
        <input type="hidden" name="wysiwyg-value" />

        <div class="form-actions align-right clearfix">
            <button type="reset" class="pull-left btn">
                <i class="ace-icon fa fa-retweet bigger-110"></i>
                Reset
            </button>

            <button type="submit" class="btn btn-primary pull-right">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Submit
            </button>
        </div>
    </form>

</div>