{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1>
        Articulos
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            {% comment %}

            Construir aqui una libreria que identifique que poner de manera automatca :)


            {% endcomment %}

            <a href="{% url 'add_article_view' %}">Articulo Nuevo</a>
        </small>
    </h1>
</div>
    {% include 'error.html' %}
    <div class="row">
        <div class-="col-xs-12">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                {% if pubBorradas > 0 %}
                    <a href="{% url 'articulos_borrados_view' %}#" class="btn btn-app btn-yellow btn-xss">
                    <i class="ace-icon fa fa-recycle bigger-220"></i>
                    <span class="badge badge-pink">{{ pubBorradas }}</span>
                    </a>
                {% endif %}

            </div>


            <table id="simple-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>Articulos</th>
                        <th>
                            <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                            Fecha de creación
                        </th>
                        <th class="hidden-480">Status</th>

                    </tr>
                </thead>
                <tbody>

                {% comment %}{% endcomment %}
                {% for articulo in publicaciones %}
                     <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td>
                            <a href="{% url 'editar_view' articulo.pk %}">{{ articulo.titulo }}</a>
                        </td>
                        <td>{{ articulo.fecha }}</td>

                        <td class="hidden-480">
                            <span class="label label-sm label-warning">{{ articulo.tipo }}</span> |
                            <button class="btn btn-xs btn-danger _eliminar" id="{{ articulo.pk }}">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </button>
                            <button class="btn btn-xs btn-success _restaurar" id="{{ articulo.pk }}">
                                <i class="ace-icon fa fa-recycle bigger-120"></i>
                            </button>
                        </td>

                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>

    </div>
{% endblock %}