<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
  <title>Who is Carlos Gonzalez - Full stack web developer</title>
</head>
<body>
  <nav>
    <ul>
      <li class="home"><a href="http://cyberpolin.github.io/">Home</a></li>
      <li class="about-me"><a href="#">About me</a></li>
      <li class="blog"><a href="http://cyberpolin.github.io/blog/index.html">Blog</a></li>
      <li class = "latest-work"><a href="#">Latest Work</a></li>
    </ul>
    <span id="social-icons">
      <ul>
        <li><a href="https://github.com/cyberpolin"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="https://mx.linkedin.com/in/cyberpolin
"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="https://twitter.com/cyberpolin"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://www.facebook.com/carlos.vasconcelos"><i class="fa fa-facebook fa-lg"></i></a></li>
      </ul>
    </span>
  </nav>
  <main>
    <p></p>
    <p></p>
  <h1>I am Carlos Gonzalez...</h1>

  <img src=""><p>I’m from Mexico, precisely <a href="https://www.google.com.mx/maps/place/Tabasco/@17.9499938,-93.680058,8z/data=!3m1!4b1!4m2!3m1!1s0x85edfb5f8f78cb4f:0xd426cb11d9866b44">Tabasco</a> (nothing to do with the sauce). I’m a 35 years old developer, happily married with a kid who’s the love of my live.</p>

  <p>Graduated from UVM with a Computer Science bachelor degree, i have almost 10 years in the IT field, have worked for several companies in Mexico and my last job was as a developer group leader in <a href="http://tabasco.gob.mx/">Tabasco Government</a>, i worked 3 years, and had a really good experience about it.</p>

  <p>Now a days i’m taking <a href="http://devbootcamp.com/">Dev Boot Camp</a> course in San Francisco where i hope to learn a full stack developer skills like: <span class="skill">HTML</span> <span class="skill">CSS</span> <span class="skill">Javascript</span> <span class="skill">TDD</span> <span class="skill">Ruby</span> <span class="skill">Rails</span> <span class="skill">Git</span> but the most of all to become an all around developer.</p>

  <p>So i’ll be available to work until July 1, looking to work remotely but ready to move if is necessary, here you can find some projects, so if you like what you see and you are interested in hiring me please let me know, i’ll be thrilled to work with you.</p>


<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cyberpolin.github.io/blog/enumerable-methods.html" data-text="So that's what enumerable methods are... looping on steroids via @cyberpolin" data-size="large" data-related="cyberpolin">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</main>
</body>
</html>