<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/blog.css">
  <title>Blog | Cyberpolin's website</title>
</head>
<body>
  <nav>
    <ul>
      <li class="home"><a href="http://cyberpolin.github.io/">Home</a></li>
      <li class="about-me"><a href="#">About me</a></li>
      <li class="blog"><a href="index.html">Blog</a></li>
      <li class = "latest-work"><a href="#">Latest Work</a></li>
    </ul>
    <span id="social-icons">
      <ul>
        <li><a href="#"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
      </ul>
    </span>
  </nav>

<main>
  <ul id="blog-posts">
    <a alt="Functional Programing in Ruby." href="http://cyberpolin.github.io/blog/functional-programing-ruby.html">
      <li>
        <img src="../imgs/functional-programing-ruby.png" alt="math" height="300" width = "300">
        <div class = "blog-title">
          <h2>Functional Ruby</h2>
        </div>
      </li>
    </a>
    <a alt="Javascript and Ruby, classy languages." href="http://cyberpolin.github.io/blog/JavaScript-Ruby.html">
      <li>
        <img src="../imgs/ruby-javascript-diferneces.png" alt="clones" height="300" width = "300">
        <div class = "blog-title">
          <h2>Friends or Enemies</h2>
        </div>
      </li>
    </a>
    <a alt="Enumerable methods" href="http://cyberpolin.github.io/blog/ruby-classes.html">
      <li>
        <img src="../imgs/classes-objects-instances-ruby.png" alt="clones" height="300" width = "300">
        <div class = "blog-title">
          <h2>Classes the ruby way</h2>
        </div>
      </li>
    </a>
    <a alt="Enumerable methods" href="http://cyberpolin.github.io/blog/enumerable-methods.html">
      <li>
        <img src="../imgs/enumerable-methods-ruby.png" alt="roller coaster" height="300" width = "300">
        <div class = "blog-title">
          <h2>Looping on steroids</h2>
        </div>
      </li>
    </a>
    <a alt="What is version control" href="http://cyberpolin.github.io/cyberpolin.github.io/blog/git.html">
      <li>
        <img src="../imgs/github-expert.gif" alt="Github logo" height="300" width = "300">
        <div class = "blog-title">
          <h2>How to make a new repository</h2>
        </div>
      </li>
    </a>
    <a alt="What is version control" href="#">
      <li>
        <img src="../imgs/terminal-expert.png" alt="bash terminal"  height="300" width = "300">
        <div class = "blog-title">
          <h2>Terminal, basic stuff</h2>
        </div>
      </li>
    </a>
    <a alt="Array & Hashes" href="http://cyberpolin.github.io/cyberpolin.github.io/blog/arrays-hashes.html">
      <li>
        <img src="../imgs/hash-and-array.png" alt="cyberpolin website thumbnail" height="300" width = "300">
        <div class = "blog-title">
          <h2>Array & Hashes</h2>
        </div>
      </li>
    </a>

  </ul>

</main>

</body>
</html>