<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/blog.css">
  <title>Cyberpolin's blog - What do i expect from the cultural experience in Dev Boot Camp San Francisco</title>
</head>
<body>
  <nav>
    <ul>
      <li class="home"><a href="http://cyberpolin.github.io/">Home</a></li>
      <li class="about-me"><a href="../about.html">About me</a></li>
      <li class="blog"><a href="http://cyberpolin.github.io/blog/index.html">Blog</a></li>
      <li class = "latest-work"><a href="#">Latest Work</a></li>
    </ul>
    <span id="social-icons">
      <ul>
        <li><a href="#"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
      </ul>
    </span>
  </nav>
  <h1>Changing my life style.</h1>
  <p>A lot of people arround me think that i'm attending Dev Bootcamp because of the technical skills i will learn there. That is trueth, but thath is not the main reason is i hear in the previos main video on the website something about a holistic programe, and how in Dev Bootcamp help developers to search wellnes in body and mind.</p>

  <p>So when i saw this video of Shereef Bishay talking about how we want to take care of our body and mind it make a lot of sense to me</p>

  <p>Even more to hear about the collaborative ambience we need to create arround our cohort, always trying to enrich it by givin the best we can. In Mexico we have a lot of talented developers, but the main way of thinking is a mediocre one, so we need to change that, and a way to change thinks is to do it yourself, that's why i will give my best and always be open to feedbak and new stuff to learn.</p>
</body>
</html>