<!DOCTYPE html>
<head>
  <title>Cyberpolin's blog</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="your-stylesheet-link-here.css">
</head>
<body>
  <main>
    <h1>What is version control?</h1>
    <span>February 13th 2016</span>
    <section>
      <p>One of the hardest thing in de software developer line of work is managing the different version of any given software.</p>
      <p>If you are worried as a developer about keeping every version of your software you may create folders any time a new version is released, but that is really a hard thing to keep track of. So what's the solution?</p>
      <p>Besides that, nowadays the software developer industry have changed pretty much, the MVP concept make us have more frequent releases, and to focus software developer into features. In this way, so now we don't release on a bunch of features, now we make a new feature and the release. </p>
      <p>But how can we keep record of that amount of changes?</p>

      <p>Version control</p>

      <p>A version control system is a software that help you to keep track of the changes you made in your software, but more than that it could help you even to manage different developers contribution to the same project, even to the same file. There are a lot of VCS (Version Control System), but we are talking about GIT.</p>

      <h2>What is Git</h2>
      <p>Git is distributed version control system, it's easy to use, pretty fast and Open Source, besides that, Git has a big community of users, and have become almost a standard in the industry.</p>

      <p>But why should i use version control?</p>

      <p>First of all, you will track all the changes you made, in that way if in any case you need to go back at any given point, you could do it, imagine, you release a feature, and suddenly your project stop working, in Git you can rollback to any saved point, cool right?</p>

      <p>Think about github as a library, where you want to keep your personal books, or at least copy of them, in that way you can be certain that the important information it’s safe. In that way if something happens to your books you always could go to the library (github) and make a copy of them again.<p>

      <p>Now what if you are writing a book, but you need help from other writers, or you have to write chapter one, and others have to do chapter two or three?, so in that way anyone can work at home and go to the library and add their advance, in that way when you go to github (library) you can pull the latest changes to the book or project, and you also left the changes you has made. In the same way other writer could ask for your changes, and always have the latest copy.<p>

      <p>What about if somebody want to add a extra chapter to your book? The he could clone it make the new chapter and pull a request from you, the main writer, then you can review that chapter and allow the new chapter or not.<p>

      <p>To make things right, Git is the system of Version Control, and Github is a Git on the cloud, which help you to centralize your repo</p>

      <h2>How can git help you tracking your changes?</h2>

      <p>Git save a log any time you make a commit, you can watch this log at any time, you can also go to that point in your source, and recover that state. We can also have different branches or parallel time lines and merge them any time you want.</p>

      <p>If you have a hard time getting this right let's get a real scientist explain it to you...</p>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/gVx4OOcIRXg" frameborder="0" allowfullscreen></iframe>

      <p>cool right?</p>

      <p>So wait no more and start using Git.</p>


    </section>
    </main>
  </body>
  </html>

