<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/projects.css">
<!-- Syntax highlight -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- Syntax highlight -->
  <title>Javascript and Ruby, classy languages.</title>
</head>
<body>
  <nav>
    <ul>
      <li class="home"><a href="http://cyberpolin.github.io/">Home</a></li>
      <li class="about-me"><a href="../about.html">About me</a></li>
      <li class="blog"><a href="http://cyberpolin.github.io/blog/index.html">Blog</a></li>
      <li class = "latest-work"><a href="index.html">Latest Work</a></li>
    </ul>
    <span id="social-icons">
      <ul>
        <li><a href="#"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
      </ul>
    </span>
  </nav>
  <main>
    <h1>Javascript and Ruby, classy languages.</h1>

    <p>If you have used Ruby and want to learn Javascript prepare for a new way of thinking.</p>
    <p>The most important ability a developer should have is to learn new way of doing stuff, and new programing languages, and to do so...</p>

    <h2>You must unlearn what you have learned!</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/z4jeREy7Pbc" frameborder="0" allowfullscreen></iframe>

    <p>Don't mind the programing language, almost every programing language, at least the two we are comparing, they both have functions, methods and objects. There are different ways to call them but that doesn't matter right now.</p>

    <h3>What are functions?</h3>
    <p>Functions is a way to group a block of code, this way you can repeat certain "function" just by calling it. Every function can "return" some value.</p>
    <img alt="functions Ruby Javascript" src="../imgs/2016/March/functions-ruby-javascript.png" width="50%" height="50%">

    <h3>What are methods?</h3>
    <p>As you can see methods and functions are the same right? Well not exactly, methods are things that objects can do. If you want to read more about obtects i have a post about <a alt="Objects and classes" href="ruby-classes.html">Objects Classes & Instances the Ruby way</a></p>
    <img alt="methods Ruby Javascript" src="../imgs/2016/March/methods-ruby-javascript.png" width="50%" height="50%">

    <h3>And what about objects?</h3>
    <p>So objects in a very short way are like methods catalog, which are functions but in objects they are methods and do stuff.</p>
    <img alt="Objects Ruby Javascript" src="../imgs/2016/March/class-methods-and-functions.png" width="50%" height="50%">
    <p>Cool right!</p>

  </main>
  <aside>
    <h2>Who am i?</h2>
    <p>Full Stack developer especialized in Ruby on Rails and Front end techniques.</p>
    <h2>Other Projects</h2>
    <ul>
      <li><a href="#">Google I/O 2016 Extended Villahermosa</a></li>
    </ul>
    <h2>Related Posts</h2>
    <ul>
      <li>
        <a href="#">Javascript VS Ruby?</a>
      </li>
    </ul>
  </aside>
</body>
</html>