<!DOCTYPE html>
<html>
<  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
  <title>Cyberpolin's website</title>
</head>
<body>
  <nav>
    <ul>
      <li class="home"><a href="http://cyberpolin.github.io/">Home</a></li>
      <li class="about-me"><a href="#">About me</a></li>
      <li class="blog"><a href="http://cyberpolin.github.io/blog/index.html">Blog</a></li>
      <li class = "latest-work"><a href="#">Latest Work</a></li>
    </ul>

  <main>
    <h1>My First Post Title!</h1>
    <div class = "date">2/19/16</div>
    <p> Blog post content </p>
    <p> Blog post content </p>
    <p> Blog post content </p>
    <img src="../imgs/placeholder.jpg">
    <p> Blog post content </p>
    <p> Blog post content </p>
  </main>

<hr>

  <aside id="comment-box">
    <p>What do you think?</p>
    <form>
    <p>Name:</p>
    <input type="text" name="name">
    <p>Comment:</p>
    <textarea></textarea>

  <button>Give me a Comment</button>
  </aside>

  <aside id="other-posts">
    <h2>Recent Posts</h2>
      <ul>
        <li>Blog Post #1</li>
        <li>Blog Post #2</li>
        <li>Blog Post #3</li>
      </ul>
    <h2>Related Posts</h2>
      <ul>
        <li>Blog Post #1</li>
        <li>Blog Post #2</li>
        <li>Blog Post #3</li>
      </ul>
    </aside>

</body>
</html>
<!--
How was it to wireframe and create an HTML page with a pair?
- It was a richier experience because my partner help a lot giving insights or see stuff i missed.

Did you find wireframing to be helpful to your development process?
- Always it is better to know what you are coding before doing so.

What did you and your pair decide made a good wireframe?
- Just to keep it simple, and don't try to design on it

What new semantic elements did you learn about (if any)?
- The main tag, i didn't know it, we also resarch about form tag.

-->