{% extends 'dbc-theme/base.html' %}

{% block content%}

{% autoescape off %}
   {{ pagina.texto }}
{% endautoescape %}
{% endblock %}
<main>
  <img class="me" src="imgs/carlos-gonzalez-web-developer.png" alt="Carlos Gonzalez - Web developer">
<p>Hi, i'm Carlos Gonzalez, a developer specialized in Ruby on Rails, Python + Django.
</p>
<p>I do believe the final user is the most important part of the software development process, so i think of him when developing.</p>

<h1 class="hire-me"><a href="mailto:cyberpolin@gmail.com?Subject=I wanto to hire you!">Hire me!</a></h1>
</main>
<aside>
  <ul id="blog-posts">
    <a alt="Functional Programing in Ruby." href="http://cyberpolin.github.io/blog/functional-programing-ruby.html">
      <li>
        <img src="imgs/functional-programing-ruby.png" alt="math" height="300" width = "300">
        <div class = "blog-title">
          <h2>Functional Ruby</h2>
        </div>
      </li>
    </a>
     <a alt="JavaScript and Ruby, classy languages." href="http://cyberpolin.github.io/blog/JavaScript-Ruby.html">
      <li>
        <img src="imgs/ruby-javascript-diferneces.png" alt="clones" height="300" width = "300">
        <div class = "blog-title">
          <h2>Friends or Enemies</h2>
        </div>
      </li>
    </a>
     <a alt="A Javascript Tic tac toe project by @cyberpolin" href="http://cyberpolin.github.io/projects/tic-tac-toe-js.html">
      <li>
        <img src="imgs/tic-tac-toe-javascript-game.png" alt="clones" height="300" width = "300">
        <div class = "blog-title">
          <h2>Tic Tac Toe... the game</h2>
        </div>
      </li>
    </a>
    <a alt="Enumerable methods" href="http://cyberpolin.github.io/blog/ruby-classes.html">
      <li>
        <img src="imgs/classes-objects-instances-ruby.png" alt="clones" height="300" width = "300">
        <div class = "blog-title">
          <h2>Classes the ruby way</h2>
        </div>
      </li>
    </a>
    <a alt="Enumerable methods" href="http://cyberpolin.github.io/blog/enumerable-methods.html">
      <li>
        <img src="imgs/enumerable-methods-ruby.png" alt="roller coaster" height="300" width = "300">
        <div class = "blog-title">
          <h2>Looping on steroids</h2>
        </div>
      </li>
    </a>
    <a alt="What is version control" href="http://cyberpolin.github.io/cyberpolin.github.io/blog/git.html">
      <li>
        <img src="imgs/github-expert.gif" alt="Github logo" height="300" width = "300">
        <div class = "blog-title">
          <h2>How to make a new repository</h2>
        </div>
      </li>
    </a>
    <a alt="What is version control" href="#">
      <li>
        <img src="imgs/terminal-expert.png" alt="bash terminal"  height="300" width = "300">
        <div class = "blog-title">
          <h2>Terminal, basic stuff</h2>
        </div>
      </li>
    </a>
    <a alt="Array & Hashes" href="http://cyberpolin.github.io/cyberpolin.github.io/blog/arrays-hashes.html">
      <li>
        <img src="imgs/hash-and-array.png" alt="cyberpolin website thumbnail" height="300" width = "300">
        <div class = "blog-title">
          <h2>Array & Hashes</h2>
        </div>
      </li>
    </a>
  </ul>
</aside>
</body>
</html>