<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/projects.css">
<!-- Syntax highlight -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- Syntax highlight -->
  <title>Cyberpolin's developer projects</title>
</head>
<body>
  <nav>
    <ul>
      <li class="home"><a href="http://cyberpolin.github.io/">Home</a></li>
      <li class="about-me"><a href="../about.html">About me</a></li>
      <li class="blog"><a href="http://cyberpolin.github.io/blog/index.html">Blog</a></li>
      <li class = "latest-work"><a href="index.html">Latest Work</a></li>
    </ul>
    <span id="social-icons">
      <ul>
        <li><a href="#"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
      </ul>
    </span>
  </nav>
  <main>
    <h1>This is my latest work!</h1>

    <p>If you get here is because you are intersted in my work or i'm doing a pretty good job with my SEO, that makes me happy.</p>
    <p>Any way, here are some of my projects, some of them are open source, and others from clients whom i asked if i can publish them. I tried to publish the more representative of them, so feel free to ask whatever you want.</p>

    <ul id="blog-posts">
     <a alt="A Javascript Tic tac toe project by @cyberpolin" href="http://cyberpolin.github.io/projects/tic-tac-toe-js.html">
      <li>
        <img src="../imgs/tic-tac-toe-javascript-game.png" alt="clones" height="300" width = "300">
        <div class = "blog-title">
          <h2>Tic Tac Toe... the game</h2>
        </div>
      </li>
    </a>
  </ul>


  </main>
  <aside>
    <h2>Who am i?</h2>
    <p>Full Stack developer especialized in Ruby on Rails and Front end techniques.</p>
    <h2>Other Projects</h2>
    <ul>
      <li><a href="#">Google I/O 2016 Extended Villahermosa</a></li>
    </ul>
    <h2>Related Posts</h2>
    <ul>
      <li>
        <a href="#">Javascript VS Ruby?</a>
      </li>
    </ul>
  </aside>
</body>
</html>