<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/projects.css">
<!-- Syntax highlight -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- Syntax highlight -->
  <title>Tic Tac Toe, the javascript game cyberpolin game project</title>
</head>
<body>
  <nav>
    <ul>
      <li class="home"><a href="http://cyberpolin.github.io/">Home</a></li>
      <li class="about-me"><a href="../about.html">About me</a></li>
      <li class="blog"><a href="http://cyberpolin.github.io/blog/index.html">Blog</a></li>
      <li class = "latest-work"><a href="index.html">Latest Work</a></li>
    </ul>
    <span id="social-icons">
      <ul>
        <li><a href="#"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
      </ul>
    </span>
  </nav>
  <main>
    <h1>Tic Tac Toe, the javascript game</h1>

    <p>This is a tictactoe game i made for Dev Boot Camp as an assigment, but i'm taking it to the next level, right now it just mark the empty spaces, but when i'm done it will have:<p>
      <ul>
        <li>Computer vs Human</li>

      </ul>
    <p>Take a look on how does it look on this video, and if you want to help with it you can always <a href="https://github.com/cyberpolin/Tic-Tac-Toe-JS.git">clone it.</a></p>

    <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/CIDGIrPZaMs&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/CIDGIrPZaMs&hl=en&fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object>


  </main>
  <aside>
    <h2>Who am i?</h2>
    <p>Full Stack developer especialized in Ruby on Rails and Front end techniques.</p>
    <h2>Other Projects</h2>
    <ul>
      <li><a href="#">Google I/O 2016 Extended Villahermosa</a></li>
    </ul>
    <h2>Related Posts</h2>
    <ul>
      <li>
        <a href="#">Javascript VS Ruby?</a>
      </li>
    </ul>
  </aside>
</body>
</html>